	*,html{
	margin: 0px;
	padding: 0px;
	}



	body{
		background-color: white;
	}

	.logoindex{
		width: 100%;
		margin-top: 10%;	
	}



	.ip-header{
		width: 100%;
		position: fixed;
		background-color: white;
		
	}
	header{
		width: 100%;
		height: 100px;
		background-color: #89cdea;

	}



	section{
		width: 100%;
		padding: none;
		margin: none;
		background-color: blue;
	}
	.creada{
		color: black;
		font: helvetica;
		width: 100%;
		margin: auto;
	}

	.secciones{
		margin: none;
	}


	#home{
		background-color: #303E99;
		
	}


	#galeria{
		background-color: white;
		
	}


	#footer{
		background-color: #2CAD4A;

	}


	#home{
		margin:  auto;
		max-width: 1920px;
		min-height: 600px;	
		position: relative;	
		-webkit- background-size: cover;
		-moz- background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
	}

	#galeria{
		margin:  auto;
		max-width: 1920px;
		min-height: 600px;	
		position: relative;	
		-webkit- background-size: cover;
		-moz- background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
	}



	#footer{
		margin: -100px auto;
		max-width: 1920px;
		min-height: 700px;	
		-webkit- background-size: cover;
		-moz- background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
	}




	footer{
		background-color: black;
		margin: auto;
		width: 100%;
		background-size: cover;

	}


	article h1{
		font-family: bebas;
		font-size: 50px;

	}


	.codrops-demos>a{
		color:#1e1c2a;
	}

	.codrops-demos>a:hover{
		color:white;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #14499C;

	}

	.who{
		margin-top: -10px;
	}

	.codrops-demos-fixed{
	 position: fixed;
	 
	  z-index:100;
	  top: -20px;
	  left:-20px;
	  width:100%;
	  height: 75px;
	  background-color: white;
	  box-shadow:0px 1px 1px rgba(0,0,0,.2);


	}


	.glyphicon-chevron-right{
		font-size: 50px;
		margin-right: 50px;
		color: rgba(255,255,255,.5)

	}

	.glyphicon-chevron-left{
		font-size: 50px;
		margin-left: 50px;	
		color: rgba(255,255,255,.5)
	}


	.glyphicon-chevron-right:hover{
		text-decoration: none;
	}

	.glyphicon-chevron-left:hover{
		text-decoration: none;
	}


	.contactanos{
		margin-top: 100px;
		margin-bottom: 100px; 

	}


	.dir>h1{
		font-family: impact;
		font-weight: bolder;
		font-size: 40px;
		color:#1e1c2a;

	}

	.txtDir>p{
			font-family: helveticaN;
		font-size: 18px;
		letter-spacing: 1px;

	}

	label{
		padding: 5px;
		margin-top: 3px;
		font-family: helveticaN;
		font-size: 15px;
		letter-spacing: 1px;
		float: left;
	}

	#btnSubmit{
		
		background-color:#1e1c2a;
		border:none;
		margin-top: 10px;
		float: left;
	}

	.fc{
		max-width: 90%;
		margin: auto;

	}

	.tituloform>h1{
		font-family: impact;
		font-size: 40px;
		color:#1e1c2a;

	}


	.servicios{
		margin-top: 50px;
	}






	.quienes>p{
		font-family: helveticaN;
		font-size: 18px;
		letter-spacing: .6px;
	}






	.img:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: none;
		transition: all .3s linear;
	}

	.img:hover:before { background: rgba(255,255,255, 0.5); }

	.img{
		
		max-width: 1920px;
		min-height: 720px;	
		position: relative;

		background: url(../images/bg1.jpg) 50% 0 no-repeat fixed;
		height:300px;
		-webkit- background-size: cover;
		-moz- background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		}

	.linea{
		background-color: white;
		width: 100%;
		height: 2px;
		margin-top: 50px;
		margin-bottom: 50px;
	}


	.carousel .item {
	    width: 100%; /*slider width*/
	    max-height: 420px; /*slider height*/
	}
	.carousel .item img {
	    width: 100%; /*img width*/
	}
	/*add some makeup*/
	.carousel .carousel-control {
	    background: none;
	    border: none;
	    top: 33%;
	}
	.carousel-control {
	    background: none;
	    border: none;
	    
	    color: rgba(255,255,255,0.6);
	    font-size: 100px;
	}




	.carousel-control:hover {
	   
	    color: rgba(255,255,255,1);
	    font-size: 100px;

	}


	.carousel-control>p {
	   
	   margin-top: 300px;

	}

	.carousel{
		margin-top: -120px;
	}

	.foot{

		max-height: 35px;
		background-color: #1e1c2a;; 
		width:100%;
		margin: 85px auto 0px;
		font-family: helveticaN;
		font-size: 12px;
		letter-spacing: 1px;
	}

	.foot>p{
		margin-bottom: 5px;
	}	


	.ser{
		margin-top: 50px;
	}

	.ser>h1{
		font-family: bebas;
		font-size: 35px;
		color: #1e1c2a;
		margin: none;
		
	}
	.ser>p{
		font-family: helvetica;
		font-weight: lighter;
		font-size: 18px;
		color: #1e1c2a;
		margin: auto;
		
		margin-top: -25px;


	}

	.logosec>img{
		

	   position: relative;
	   height: 100%;


		
	}

	.logosec{
	width: 250px;
	 height: 250px;
	 border-radius: 128px;
	-moz-border-radius: 128px;
	-webkit-border-radius: 128px;
	-khtml-border-radius: 128px;
	 overflow: hidden;
	 margin: auto;
	box-shadow:  0px 2px 10px 2px rgba(21,32,86,.5);

	}

	.tl{
		margin-bottom: 30px;

	}


	.tl1{
		width: 400px;
	
	}

	.tl2{
		width: 320px;
		margin-bottom: 70px;
		margin-top: 50px;
	
	}

	.tl3{
		font-family: impact;
		font-size: 60px;
		color: white;
		margin-top: 0px;
	
	}


	.tituloform{
		margin-bottom: -20px;
		color: #1e1c2a;

	}


	.titulo{
		font-family: impact;
		font-size: 60px;
		color: #1e1c2a;

	}


	.socialme{
		width: 70%;
		margin: auto;
	}


	.tser{
		margin-bottom: 0px;
	}

	

	




	.imgq{
		background-color: white;
		margin-top: 30px;
		margin-left: 40px;
		border-radius: 225px;
		width: 400px;
		height: 400px;
		box-shadow: inset 0px 2px 10px 5px rgba(21,32,86,.5);
	}


	.imgq>img{
		margin-top: 40px;
		margin-left: 10px;
	}



